{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Top Corner{% endblock title %}</title>

    <!-- Tailwind CSS CDN -->
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}

    {% comment %} <link rel="stylesheet" href="{% static 'css/global.css' %}"/> {% endcomment %}

    {% block meta %} {% endblock meta %}
</head>

<body>
    {% block content %} {% endblock content %}
</body>
</html>