{% extends 'base.html' %}
{% block content %}

  <h1>{{ title }}</h1>
  <p>Nama: {{ name }}</p>
  <p>NPM: {{ npm }}</p>
  <p>Kelas: {{ class }}</p>

  {# Button Add Product #}
  <a href="{% url 'main:create_product' %}" id="add-product-link">
    <button>+ Add Product</button>
  </a>

  {# Button Logout #}
  <a href="{% url 'main:logout' %}">
  <button>Logout</button>
  </a>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  

  <!-- Tambahkan kode ini -->
  <a href="?filter=all">
      <button type="button">All Products</button>
  </a>
  <a href="?filter=my">
      <button type="button">My Products</button>
  </a> 

  <hr>
  <h2>Daftar Produk</h2>

  {% if not products %}
    <p>Belum ada data product.</p>
  {% else %}
    {% for product in products %}
      <div>
        <h2>
          <a href="{% url 'main:show_product' product.id %}">
            {{ product.name }}
          </a>
        </h2>

        <p><b>{{ product.get_category_display }}</b></p>

        {% if product.thumbnail %}
          <img src="{{ product.thumbnail }}" width="200" alt="{{ product.name }}">
          <br>
        {% endif %}

        <p>Stok: {{ product.stock }}</p>
        <p>Brand: {{ product.brand }}</p>
        <p>Rating: {{ product.rating }}</p>

        <p>{{ product.description|truncatewords:25 }}...</p>

        <p>
          <a href="{% url 'main:show_product' product.id %}">
            <button>Details</button>
          </a>
        </p>
        <hr>
      </div>
    {% endfor %}
  {% endif %}

{% endblock content %}
