{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<div>
  <h2>Create your account</h2>
  
  <form method="POST">
    {% csrf_token %}
    <div>
      {% for field in form %}
        <div class="{% if not forloop.first %}mt-4{% endif %}">
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          <div>
            {{ field }}
          </div>
          {% if field.errors %}
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div>
      <button type="submit">
        Register
      </button>
    </div>
  </form>

  {% if messages %}
  <div>
    {% for message in messages %}
    <div>
      <span>{{ message }}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div>
    <p>
      Already have an account?
      <a href="{% url 'main:login' %}">
        Login here
      </a>
    </p>
  </div>
</div>

{% endblock content %}